[submodule "frontend/okjvoasi"]
	path = frontend/okjvoasi
	url = https://github.com/Riyaz-TYN/okjvoasi.git
[submodule "frontend/iygiutfrd"]
	path = frontend/iygiutfrd
	url = https://github.com/Riyaz-TYN/iygiutfrd.git
[submodule "frontend/Serevfj"]
	path = frontend/Serevfj
	url = https://github.com/Riyaz-TYN/Serevfj.git
